<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ユーザー登録画面</title>
</head>
<body>
<div th:insert="~{common/sourceList::sourceList}"></div>
<div th:replace="~{common/messageicon::messageicon}"></div>
<div class="container-fluid">
	<h2>ユーザー登録画面</h2>
	<div class="alert d-flex align-items-center" th:classappend="|${isError ? 'alert-danger' : 'alert-primary'}|" role="alert" th:if="${message != null}">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24">
			<use xlink:href="#exclamation-triangle-fill" th:if="${isError}"/>
			<use xlink:href="#info-fill" th:unless="${isError}"/>
		</svg>
		<span th:text="${message}"></span>
	</div>
	<form th:action="@{/signup}" method="post" th:object="${signupForm}">
		<div class="form-group">
			<div class="col-9 col-md-6 col-xxl-3 mt-3">
				<label for="loginId">ログインID：</label>
				<input class="form-control" type="text" th:field="*{loginId}">
				<span class="text-danger" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></span>
			</div>
			<div class="col-9 col-md-6 col-xxl-3 mt-3">
				<label for="password">パスワード：</label>
				<input class="form-control" type="password" th:field="*{password}">
				<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			</div>
			<div class="col-9 col-md-6 col-xxl-3 mt-3">
				<label for="mailAddress">メールアドレス：</label>
				<input class="form-control" type="text" th:field="*{mailAddress}">
				<span class="text-danger" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></span>
			</div>
			<p><input class="btn btn-primary my-3" type="submit" value="ユーザー登録"></p>
		</div>
	</form>
	<a th:href="@{/login}">▶︎ログイン画面へ戻る</a>
</div>
</body>
</html>